.paypal-button-width--small {
    .unitize-width(150);
}

.paypal-button-width--medium {
    .unitize-width(250);
}

.paypal-button-width--large {
    .unitize-width(350);
}

.paypal-button-width--responsive {
    width: 100%;
    text-align: right;
}

.paypal-unified--smart-payment-buttons{
    width: 100%;
}

@media screen and(min-width: @phoneLandscapeViewportWidth) {
    .paypal-unified--smart-payment-buttons{
        float: right;
        width: 70%;
    }
}

@media screen and(min-width: @tabletViewportWidth) {
    .paypal-unified--smart-payment-buttons{
        float: right;
        width: 50%;
    }
}

@media screen and(min-width: @tabletLandscapeViewportWidth) {
    .paypal-unified--smart-payment-buttons{
        float: right;
        width: 30%;
    }
}
