parameters:
	ignoreErrors:
		-
			message: "#^Method SwagPaymentPayPalUnified\\\\Components\\\\DependencyProvider\\:\\:getShop\\(\\) should return Shopware\\\\Models\\\\Shop\\\\DetachedShop\\|null but returns object\\|null\\.$#"
			count: 1
			path: Components/DependencyProvider.php

		-
			message: "#^Cannot call method getPayerInfo\\(\\) on SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Payer\\|null\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/CustomerService.php

		-
			message: "#^Cannot call method setPost\\(\\) on Enlight_Controller_Request_Request\\|null\\.$#"
			count: 2
			path: Components/Services/ExpressCheckout/CustomerService.php

		-
			message: "#^Cannot call method getCountry\\(\\) on Shopware\\\\Models\\\\Customer\\\\Address\\|null\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/CustomerService.php

		-
			message: "#^Cannot call method getId\\(\\) on Shopware\\\\Models\\\\Country\\\\Country\\|null\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/CustomerService.php

		-
			message: "#^Cannot call method getArea\\(\\) on Shopware\\\\Models\\\\Country\\\\Country\\|null\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/CustomerService.php

		-
			message: "#^Cannot call method getId\\(\\) on Shopware\\\\Models\\\\Country\\\\Area\\|null\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/CustomerService.php

		-
			message: "#^Parameter \\#1 \\$returnUrl of method SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\RedirectUrls\\:\\:setReturnUrl\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/ExpressCheckoutPaymentBuilderService.php

		-
			message: "#^Parameter \\#1 \\$cancelUrl of method SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\RedirectUrls\\:\\:setCancelUrl\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/ExpressCheckoutPaymentBuilderService.php

		-
			message: "#^Parameter \\#1 \\$currency of method SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Transactions\\\\Amount\\:\\:setCurrency\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/ExpressCheckoutPaymentBuilderService.php

		-
			message: "#^Parameter \\#1 \\$currency of method SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Transactions\\\\ItemList\\\\Item\\:\\:setCurrency\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/ExpressCheckoutPaymentBuilderService.php

		-
			message: "#^Parameter \\#1 \\$cancelUrl of method SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\RedirectUrls\\:\\:setCancelUrl\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Components/Services/PaymentBuilderService.php

		-
			message: "#^Parameter \\#1 \\$returnUrl of method SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\RedirectUrls\\:\\:setReturnUrl\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Components/Services/PaymentBuilderService.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, float\\|string given\\.$#"
			count: 1
			path: Components/Services/PaymentBuilderService.php

		-
			message: "#^Cannot call method getLocale\\(\\) on Shopware\\\\Models\\\\Shop\\\\DetachedShop\\|null\\.$#"
			count: 1
			path: Components/Services/PaymentBuilderService.php

		-
			message: "#^Parameter \\#1 \\$paymentStatus of method Shopware\\\\Models\\\\Order\\\\Order\\:\\:setPaymentStatus\\(\\) expects Shopware\\\\Models\\\\Order\\\\Status, Shopware\\\\Models\\\\Order\\\\Status\\|null given\\.$#"
			count: 1
			path: Components/Services/PaymentStatusService.php

		-
			message: "#^Parameter \\#1 \\$returnUrl of method SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\RedirectUrls\\:\\:setReturnUrl\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Components/Services/Plus/PlusPaymentBuilderService.php

		-
			message: "#^Parameter \\#1 \\$shipmentDetails of method SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Transactions\\:\\:setShipmentDetails\\(\\) expects SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Transactions\\\\ShipmentDetails, SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Transactions\\\\ShipmentDetails\\|null given\\.$#"
			count: 1
			path: Components/Services/Plus/PlusPaymentBuilderService.php

		-
			message: "#^Property SwagPaymentPayPalUnified\\\\Components\\\\Services\\\\SettingsService\\:\\:\\$shop \\(Shopware\\\\Models\\\\Shop\\\\DetachedShop\\) does not accept Shopware\\\\Models\\\\Shop\\\\DetachedShop\\|null\\.$#"
			count: 1
			path: Components/Services/SettingsService.php

		-
			message: "#^Cannot call method getResources\\(\\) on SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Transactions\\\\RelatedResources\\|null\\.$#"
			count: 1
			path: Components/Services/TransactionHistoryBuilderService.php

		-
			message: "#^Cannot call method getResources\\(\\) on SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Transactions\\\\RelatedResources\\|null\\.$#"
			count: 1
			path: Controllers/Frontend/PaypalUnified.php

		-
			message: "#^Parameter \\#1 \\$basket of method SwagPaymentPayPalUnified\\\\Components\\\\Services\\\\Validation\\\\BasketValidatorInterface\\:\\:validate\\(\\) expects array, array\\|null given\\.$#"
			count: 1
			path: Controllers/Frontend/PaypalUnified.php

		-
			message: "#^Parameter \\#2 \\$customer of method SwagPaymentPayPalUnified\\\\Components\\\\Services\\\\Validation\\\\BasketValidatorInterface\\:\\:validate\\(\\) expects array, array\\|null given\\.$#"
			count: 1
			path: Controllers/Frontend/PaypalUnified.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: Controllers/Frontend/PaypalUnifiedWebhook.php

		-
			message: "#^Parameter \\#3 \\$content of method Shopware\\\\Components\\\\HttpClient\\\\GuzzleHttpClient\\:\\:post\\(\\) expects array\\|string\\|null, array\\|string\\|false given\\.$#"
			count: 1
			path: PayPalBundle/Services/ClientService.php

		-
			message: "#^Parameter \\#3 \\$content of method Shopware\\\\Components\\\\HttpClient\\\\GuzzleHttpClient\\:\\:patch\\(\\) expects array\\|string\\|null, array\\|string\\|false given\\.$#"
			count: 1
			path: PayPalBundle/Services/ClientService.php

		-
			message: "#^Parameter \\#3 \\$content of method Shopware\\\\Components\\\\HttpClient\\\\GuzzleHttpClient\\:\\:put\\(\\) expects array\\|string\\|null, array\\|string\\|false given\\.$#"
			count: 1
			path: PayPalBundle/Services/ClientService.php

		-
			message: "#^Method SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Services\\\\WebhookService\\:\\:getWebhookHandlers\\(\\) should return array\\<SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Components\\\\Webhook\\\\WebhookHandler\\> but returns array\\<SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Components\\\\Webhook\\\\WebhookHandler\\|null\\>\\.$#"
			count: 1
			path: PayPalBundle/Services/WebhookService.php

		-
			message: "#^Cannot call method toArray\\(\\) on SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Payer\\|null\\.$#"
			count: 1
			path: PayPalBundle/Structs/Payment.php

		-
			message: "#^Property SwagPaymentPayPalUnified\\\\Subscriber\\\\Documents\\\\Invoice\\:\\:\\$translation \\(Shopware_Components_Translation\\) does not accept Shopware_Components_Translation\\|null\\.$#"
			count: 1
			path: Subscriber/Documents/Invoice.php

		-
			message: "#^Cannot call method getLocale\\(\\) on Shopware\\\\Models\\\\Shop\\\\DetachedShop\\|null\\.$#"
			count: 1
			path: Subscriber/ExpressCheckout.php

		-
			message: "#^Cannot call method getLocale\\(\\) on Shopware\\\\Models\\\\Shop\\\\DetachedShop\\|null\\.$#"
			count: 1
			path: Subscriber/InContext.php

		-
			message: "#^Cannot call method getLocale\\(\\) on Shopware\\\\Models\\\\Shop\\\\DetachedShop\\|null\\.$#"
			count: 1
			path: Subscriber/Plus.php
