parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getCountry\\(\\) on Shopware\\\\Models\\\\Customer\\\\Address\\|null\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/CustomerService.php

		-
			message: "#^Cannot call method getId\\(\\) on Shopware\\\\Models\\\\Country\\\\Country\\|null\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/CustomerService.php

		-
			message: "#^Cannot call method getArea\\(\\) on Shopware\\\\Models\\\\Country\\\\Country\\|null\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/CustomerService.php

		-
			message: "#^Cannot call method getId\\(\\) on Shopware\\\\Models\\\\Country\\\\Area\\|null\\.$#"
			count: 1
			path: Components/Services/ExpressCheckout/CustomerService.php

		-
			message: "#^Parameter \\#1 \\$paymentStatus of method Shopware\\\\Models\\\\Order\\\\Order\\:\\:setPaymentStatus\\(\\) expects Shopware\\\\Models\\\\Order\\\\Status, Shopware\\\\Models\\\\Order\\\\Status\\|null given\\.$#"
			count: 1
			path: Components/Services/PaymentStatusService.php

		-
			message: "#^Cannot call method getResources\\(\\) on SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Transactions\\\\RelatedResources\\|null\\.$#"
			count: 1
			path: Components/Services/TransactionHistoryBuilderService.php

		-
			message: "#^Cannot call method getResources\\(\\) on SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Transactions\\\\RelatedResources\\|null\\.$#"
			count: 1
			path: Controllers/Frontend/PaypalUnified.php

		-
			message: "#^Parameter \\#1 \\$basket of method SwagPaymentPayPalUnified\\\\Components\\\\Services\\\\Validation\\\\BasketValidatorInterface\\:\\:validate\\(\\) expects array, array\\|null given\\.$#"
			count: 1
			path: Controllers/Frontend/PaypalUnified.php

		-
			message: "#^Parameter \\#2 \\$customer of method SwagPaymentPayPalUnified\\\\Components\\\\Services\\\\Validation\\\\BasketValidatorInterface\\:\\:validate\\(\\) expects array, array\\|null given\\.$#"
			count: 1
			path: Controllers/Frontend/PaypalUnified.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: Controllers/Frontend/PaypalUnifiedWebhook.php

		-
			message: "#^Method SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Services\\\\WebhookService\\:\\:getWebhookHandlers\\(\\) should return array\\<SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Components\\\\Webhook\\\\WebhookHandler\\> but returns array\\<SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Components\\\\Webhook\\\\WebhookHandler\\|null\\>\\.$#"
			count: 1
			path: PayPalBundle/Services/WebhookService.php

		-
			message: "#^Cannot call method toArray\\(\\) on SwagPaymentPayPalUnified\\\\PayPalBundle\\\\Structs\\\\Payment\\\\Payer\\|null\\.$#"
			count: 1
			path: PayPalBundle/Structs/Payment.php

		-
			message: "#^Property SwagPaymentPayPalUnified\\\\Subscriber\\\\Documents\\\\Invoice\\:\\:\\$translation \\(Shopware_Components_Translation\\) does not accept Shopware_Components_Translation\\|null\\.$#"
			count: 1
			path: Subscriber/Documents/Invoice.php
