includes:
	- phpstan-baseline.neon

parameters:
    level: 8
    reportUnmatchedIgnoredErrors: true
    excludes_analyse:
        - vendor
        - .githooks
        - Tests

    symfony:
        constant_hassers: false
        container_xml_path: ../../../var/cache/production____REVISION___/container.xml
        console_application_loader: ../../../tests/phpstan-console-application.php
    doctrine:
        repositoryClass: Shopware\Components\Model\ModelRepository
        objectManagerLoader: ../../../tests/phpstan-doctrine-model-manager.php

    ignoreErrors:
        - # Since Shopware 5.3.4 this class has constructor parameter
            '#Class Shopware_Components_Translation constructor invoked with 0 parameters, 2 required#'
        - # Properties are called with magic __get
            '#Access to an undefined property Shopware_Models_Document_Order::#'
        - # Since we have to support Shopware 5.2 we can not use return types
            '#Method .* has no return typehint specified#'
        # Needs some improvements in the doctrine PHPStan extensions: see https://github.com/phpstan/phpstan-doctrine/pull/167
        - '#Cannot call method fetch.*\(\) on Doctrine\\DBAL\\.*Statement\|int#'
