<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/Bootstrap.php"
         colors="true">
    <testsuite name="PayPal Unified Test Suite">
        <directory>Tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">./Tests</directory>
                <directory suffix=".php">./PayPalBundle/Resources</directory>
                <directory suffix=".php">./PayPalBundle/Components</directory>
                <directory suffix=".php">./vendor</directory>
                <directory suffix=".php">./Models</directory>

                <!-- Bootstrap -->
                <file>SwagPaymentPayPalUnified.php</file>
                <file>./Setup/InstallationException.php</file>

                <!-- Classes that communicate with the PayPal API -->
                <file>./Components/Services/Installments/InstallmentsRequestService.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>