<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">PayPal</label>
    <label lang="en">PayPal</label>

    <version>1.0.6</version>
    <copyright>(c) by shopware AG</copyright>
    <license>MIT</license>
    <link>http://store.shopware.com</link>
    <author>shopware AG</author>
    <compatibility minVersion="5.2.0"/>

    <changelog version="1.0.6">
        <changes lang="de">
            PT-9367 - Aufgrund des PayPal Risk-Managements werden Custom Products Optionen nicht mehr als einzelne Warenkorb Positionen übertragen. Evtl. Aufschläge werden auf den Produktpreis aufgerechnet;
            PT-9383 - Workflow mit steuerfreien oder Netto-Bestellungen verbessert;
            PT-9424 - AGB-Checkbox Validierung verbessert;
            PT-9546 - Setzen des Ländersprachcodes korrigiert;
        </changes>
        <changes lang="en">
            PT-9367 - Due to PayPal's risk management, Custom Products options are no longer transferred as single shopping cart items. Possible surcharges will be added to the product price;
            PT-9383 - Improve workflow with tax free and net orders;
            PT-9424 - Improve ToS checkbox validation;
            PT-9546 - Fix setting of country language code;
        </changes>
    </changelog>

    <changelog version="1.0.5">
        <changes lang="de">
            PT-9318 - Sprache der Buttons für Express Checkout und In-Context richtet sich nun nach der Shopsprache;
            PT-9366 - Javascript Warnung korrigiert;
            Datum in der Bestellübersicht korrigiert;
        </changes>
        <changes lang="en">
            PT-9318 - The shop language is now considered for the language of the express checkout and in-context buttons;
            PT-9366 - Fix Javascript warning;
            Fix date in order overview;
        </changes>
    </changelog>

    <changelog version="1.0.4">
        <changes lang="de">PT-9241 - Optimierung von PayPal Bannern und Buttons;</changes>
        <changes lang="en">PT-9241 - Optimize PayPal banners and buttons;</changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="de">
            PT-9252 - Anzeige des Express Checkout Buttons korrigiert;
            PT-9285 - Logo für Drittanbieter Zahlungsart im Plus iFrame nun pflegbar;
            PT-9290 - Einstellungen werden jetzt entfernt, wenn dies bei der Deinstallation ausgewählt wird;
        </changes>
        <changes lang="en">
            PT-9252 - Fix displaying of express checkout button;
            PT-9285 - Logo for third party payment in Plus iFrame method can now be maintained;
            PT-9290 - If selected on uninstallation, the settings now will be removed;
        </changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de">PT-9245 - Bezahldatum wird nun korrekt gesetzt;</changes>
        <changes lang="en">PT-9245 - Date of payment is now set correctly;</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">
            PT-9236 - PDF Elemente lassen sich nun korrekt editieren;
            PT-9267 - Benutzt nun minifizierte Javascript Library;
        </changes>
        <changes lang="en">
            PT-9236 - PDF elements could now edited correctly;
            PT-9267 - Now uses minified Javascript library;
        </changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung;</changes>
        <changes lang="en">First release;</changes>
    </changelog>
</plugin>
