DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

SW_HOST=
SW_BASE_PATH=

PAYPAL_CUSTOMER_EMAIL=
PAYPAL_CUSTOMER_PASSWORD=
PAYPAL_CREDIT_CARD=

PAYPAL_SANDBOX_CLIENT_ID=
PAYPAL_SANDBOX_CLIENT_SECRET=
PAYPAL_SANDBOX_MERCHANT_ID=

PAYPAL_SEPA_IBAN=
PAYPAL_SEPA_PHONE=
PAYPAL_SEPA_BIRTHDAY=
