MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_DATABASE=

BASE_URL=

PAYPAL_CUSTOMER_EMAIL=
PAYPAL_CUSTOMER_PASSWORD=
PAYPAL_CREDIT_CARD=

PAYPAL_SANDBOX_CLIENT_ID=
PAYPAL_SANDBOX_CLIENT_SECRET=
PAYPAL_SANDBOX_MERCHANT_ID=

PAYPAL_SEPA_IBAN=
PAYPAL_SEPA_PHONE=
PAYPAL_SEPA_BIRTHDAY=
