DB_HOST=__DB_HOST__
DB_PORT=__DB_PORT__
DB_USER=__DB_USER__
DB_PASSWORD=__DB_PASSWORD__
DB_NAME=__DB_NAME__

SW_HOST=__SW_HOST__
SW_BASE_PATH=__SW_BASE_PATH__

PAYPAL_CUSTOMER_EMAIL=__PAYPAL_CUSTOMER_EMAIL__
PAYPAL_CUSTOMER_PASSWORD=__PAYPAL_CUSTOMER_PASSWORD__
PAYPAL_CREDIT_CARD=__PAYPAL_CREDIT_CARD__

PAYPAL_SANDBOX_CLIENT_ID=__PAYPAL_SANDBOX_CLIENT_ID__
PAYPAL_SANDBOX_CLIENT_SECRET=__PAYPAL_SANDBOX_CLIENT_SECRET__
PAYPAL_SANDBOX_MERCHANT_ID=__PAYPAL_SANDBOX_MERCHANT_ID__

PAYPAL_SEPA_IBAN=__PAYPAL_SEPA_IBAN__
PAYPAL_SEPA_PHONE=__PAYPAL_SEPA_PHONE__
PAYPAL_SEPA_BIRTHDAY=__PAYPAL_SEPA_BIRTHDAY__
