<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>SwagPaymentPayPalUnified</name>
            <label lang="en">PayPal Unified</label>
            <label lang="de">PayPal Unified</label>
            <controller>PaypalUnified</controller>
            <action>index</action>
            <class>sprite--paypal-unified</class>
            <parent identifiedBy="controller">Payments</parent>
        </entry>
        <entry>
            <name>SwagPaymentPayPalUnifiedSettings</name>
            <label lang="en">PayPal Unified Settings</label>
            <label lang="de">PayPal Unified Einstellungen</label>
            <controller>PaypalUnifiedSettings</controller>
            <action>index</action>
            <class>settings--basic-settings</class>
            <parent identifiedBy="controller">Payments</parent>
        </entry>
    </entries>
</menu>