@paypalUnifiedInstallmentsTextColor: #fff;
@paypalUnifiedInstallmentsBackGroundColor: @highlight-info;
@paypalUnifiedInstallmentsPanelBackgroundColor: #fff;
@paypalUnifiedInstallmentsPanelTextColor: #fff;
@paypalUnifiedInstallmentsPanelBorderColor: @panel-border;
@paypalUnifiedInstallmentsLinkColorSimple: #fff;