.paypal-unified-installments-notification--simple {
    .unitize(padding, 16);
    .unitize(margin-bottom, 16);
    .border-radius();
    color: @paypalUnifiedInstallmentsTextColor;
    background-color: @paypalUnifiedInstallmentsBackGroundColor;
    width: 100%;

    &.is--cart {
        .unitize(margin-top, 16);
    }
}
