name: E2E Tests legacy

on:
    workflow_call:

jobs:
    php-e2e-tests-shopware-5-7:
        name: Shopware 5.2
        runs-on: ubuntu-latest
        container:
            image: ghcr.io/shopware5/docker-images-testing/install:shopware_5.2_5.7_5.6_5.2.11-5.2.27
            credentials:
                username: ${{ github.actor }}
                password: ${{ secrets.github_token }}

        env:
            PAYPAL_SANDBOX_CLIENT_ID: ${{ secrets.PAYPAL_SANDBOX_CLIENT_ID_LEGACY }}
            PAYPAL_SANDBOX_CLIENT_SECRET: ${{ secrets.PAYPAL_SANDBOX_CLIENT_SECRET_LEGACY }}
            PAYPAL_SANDBOX_MERCHANT_ID: ${{ secrets.PAYPAL_SANDBOX_MERCHANT_ID_LEGACY }}

            PAYPAL_CUSTOMER_EMAIL: ${{ secrets.PAYPAL_CUSTOMER_EMAIL }}
            PAYPAL_CUSTOMER_PASSWORD: ${{ secrets.PAYPAL_CUSTOMER_PASSWORD }}
            PAYPAL_CREDIT_CARD: ${{ secrets.PAYPAL_CREDIT_CARD }}

            PAYPAL_SEPA_IBAN: ${{ secrets.PAYPAL_SEPA_IBAN }}
            PAYPAL_SEPA_PHONE: ${{ secrets.PAYPAL_SEPA_PHONE }}
            PAYPAL_SEPA_BIRTHDAY: ${{ secrets.PAYPAL_SEPA_BIRTHDAY }}

        steps:
            -   run: /usr/bin/supervisord -c /etc/supervisord.conf &

            -   name: Checkout SwagPaymentPayPalUnified
                uses: actions/checkout@v6
                with:
                    path: plugin

            -   name: Cache node modules
                id: cache-npm
                uses: actions/cache@v5
                env:
                    cache-name: cache-node-modules
                with:
                    # npm cache files are stored in `~/.npm` on Linux/macOS
                    path: ~/.npm
                    key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('plugin/package-lock.json') }}
                    restore-keys: |
                        ${{ runner.os }}-build-${{ env.cache-name }}-
                        ${{ runner.os }}-build-
                        ${{ runner.os }}-


            - name: Get Composer Cache Directory
              id: composer-cache
              run: |
                echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

            - uses: actions/cache@v5
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('plugin/composer.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-composer-

            -   name: Move plugin
                run: mv "$(pwd)/plugin" /shopware/custom/plugins/SwagPaymentPayPalUnified

            -   name: Setup SwagPaymentPayPalUnified
                # Fix Firefox behavior in GitHub actions. You can remove the env for other browsers.
                env:
                    HOME: /root
                run: |
                    cd /shopware/custom/plugins/SwagPaymentPayPalUnified
                    make composer-install
                    make install-plugin-legacy
                    cd /shopware/custom/plugins/SwagPaymentPayPalUnified/Tests/E2E
                    npm install
                    npx playwright install --with-deps firefox

            -   name: Execute legacy E2E tests
                # Fix Firefox behavior in GitHub actions. You can remove the env for other browsers.
                env:
                    HOME: /root
                run: |
                    cd /shopware/custom/plugins/SwagPaymentPayPalUnified/Tests/E2E
                    npx playwright test --workers=1 --grep-invert @notIn5.2

            -   name: Upload artifacts
                uses: actions/upload-artifact@v6
                if: ${{ failure() }}
                with:
                    name: Legacy E2E test results
                    path: |
                        /shopware/custom/plugins/SwagPaymentPayPalUnified/Tests/E2E/results
                        /shopware/var/log
