name: Run

on:
    workflow_dispatch:
    push:
    schedule:
        -   cron: '30 02 * * *'

jobs:
    javascript-code-analysis:
        name: Javascript
        uses: ./.github/workflows/javascript-code-analysis.yml
        secrets: inherit

    php-code-analysis:
        name: PHP
        uses: ./.github/workflows/php-code-analysis.yml
        secrets: inherit

    php-unit-tests-shopware-5-7:
        name: Unit tests
        uses: ./.github/workflows/php-unit-tests-shopware-5-7.yml
        secrets: inherit
        needs: [javascript-code-analysis, php-code-analysis]

    php-unit-tests-shopware-legacy-versions:
        name: Unit tests legacy
        uses: ./.github/workflows/php-unit-tests-shopware-legacy.yml
        secrets: inherit
        needs: [javascript-code-analysis, php-code-analysis]

    php-e2e-tests-shopware-5-7:
        name: E2E
        uses: ./.github/workflows/e2e-tests.yml
        secrets: inherit
        needs: [php-unit-tests-shopware-5-7, php-unit-tests-shopware-legacy-versions]

    php-e2e-tests-shopware-legacy:
        name: E2E legacy
        uses: ./.github/workflows/e2e-tests-legacy.yml
        secrets: inherit
        needs: [php-unit-tests-shopware-5-7, php-unit-tests-shopware-legacy-versions]
